<header class="site-header" id="site-header">

  <div class="wrap">
    {%- assign nav_pages = site.pages | where_exp:"item", "item.nav_order != nil" | sort:"nav_order" -%}
    {%- assign default_paths = nav_pages | map: "path" -%}
    {%- assign page_paths = nav_pages.header_pages | default: default_paths -%}
    {%- assign titles_size = nav_pages | map: 'title' | join: '' | size -%}

    <div class="wrap-inner">

      <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{% include banner-bitcoin-logo.svg %}{{ site.title | escape }}</a>

      {%- if titles_size > 0 -%}
        <nav id="site-nav" class="site-nav" aria-label="Main navigation">
          {%- for path in page_paths -%}
            {%- assign my_page = site.pages | where: "path", path | first -%}
            {% if my_page.main_nav %}
              {%- if my_page.title -%}
                {% assign current_page = page.url | replace:'/',' ' | truncatewords: 1,"" %}
                {% assign menu_page = my_page.url | replace:'/',' ' | truncatewords: 1,"" %}
                <a class="page-link{% if current_page == menu_page %} active{% endif %}" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>

                {%- if my_page.title contains 'Guide' -%}
                  {% include secondary-nav.html id="top" %}
                {% endif %}
              {%- endif -%}
            {% endif %}
          {%- endfor -%}
        </nav>
      {%- endif -%}
      <button class="nav-search" aria-expanded="false" aria-controls="toggled-search" aria-label="Toggle search" id="search-trigger" onclick="toggleSearch()">
        <svg viewBox="0 0 44 44" class="search-icon"><use xlink:href="#svg-search"></use></svg>
      </button>

      <button aria-label="Toggle menu" id="nav-trigger" class="nav-trigger" aria-controls="site-nav" aria-expanded="false">
        <svg viewBox="0 0 44 44"><use xlink:href="#svg-menu"></use></svg>
      </button>

    </div>

    <div class="search-input-wrap" id="toggled-search" aria-hidden="true">
      <form action="/search.html" method="get">
        <input type="text" id="search-input" name="query" class="search-input" tabindex="0" placeholder="Search" aria-label="Search {{ site.title }}" autocomplete="off">
      </form>
      <ul id="search-results"></ul>
    </div>

  </div>
</header>
