<section class="home-banner">
  <div class="home-banner-copy-wrapper">
    <div class=home-banner-copy>
      <div class="home-banner-logo-wrapper">
        {% include_relative /assets/banner-bitcoin-logo.svg %}
      </div>
      <h1>
        Design Bitcoin for Everyone
      </h1>
      <p>Open-source design for bitcoin products.</p>
      <div class="home-banner-buttons-wrapper">
        <a id="slack-link-button" href="https://bitcoindesign.slack.com/" target="blank" rel="me"> Join us on Slack</a>
        <a id="github-link-button" href="https://github.com/bitcoindesign" target="blank" rel="me">Contribute on Github</a>
      </div>
    </div>
  </div>

  <div class="home-banner-image">
   
  </div>

</section>