<section class="home-banner" id="home-banner">
  <div class="home-banner-copy-wrapper">
    <div class=home-banner-copy>
      <div class="home-banner-logo-wrapper">
          {% include_relative /assets/banner-bitcoin-logo.svg %}
      </div>
      <h1>
        Design bitcoin for everyone
      </h1>
      <p>Open-source design for bitcoin products.</p>
      <div class="home-banner-buttons-wrapper">
        <a id="link-button-1" href="https://bitcoindesign.slack.com/" rel="me">Join us on Slack</a>
        <a id="link-button-2" href="https://github.com/bitcoindesign" target="blank" rel="me">Contribute on Github</a>
      </div>
    </div>
  </div>

  <div class="home-banner-image"></div>
</section>
<section class="home-banner-info">
  <div class="home-banner-info-wrapper">
    <p>Header design by <a id="home-banner-info-author" href="https://bitcoindesign.slack.com/" target="blank" id="home-banner-info-author">Blah</p>
    <div class="home-banner-info-options">
      <a href="{{ "/submit-header-design" | relative_url }}" target="blank">Submit your own</a>
      <button id="home-banner-info-next">Next</button>
    </div>
  </div>
</section>
