<section class="home-banner" id="home-banner">
  <div class="home-banner-copy-wrapper">
    <div class=home-banner-copy>
      <div class="home-banner-logo-wrapper">
          {% include_relative /assets/banner-bitcoin-logo.svg svgId="banner-bitcoin-logo-svg" pathId="banner-bitcoin-logo-path" %}
      </div>
      <h1>
        Design Bitcoin for everyone
      </h1>
      <p>Open-source design for Bitcoin products.</p>
      <div class="home-banner-buttons-wrapper">
        <a id="link-button-1" href="{{ site.slack_invite_url }}" rel="me">Join us on Slack</a>
        <a id="link-button-2" href="{{ "/guide" | relative_url }}" >Design guide</a>
      </div>
    </div>
  </div>

  <div class="home-banner-image"></div>
</section>
<section class="home-banner-info">
  <div class="home-banner-info-wrapper">
    <p>Header design by <a id="home-banner-info-author" href="{{ site.slack_invite_url }}" target="blank">Author</a></p>
    <div class="home-banner-info-options">
      <a href="{{ "/submit-header-design" | relative_url }}" target="blank">Submit your own</a>
      <button id="home-banner-info-next">Next</button>
    </div>
  </div>
</section>
