<figure{% if include.layout %} class="-{{ include.layout }}"{% endif %}>
    <img
    	src="{{ include.image | relative_url }}" 
    	{% if include.retina %} srcset="{{ include.image | relative_url }} 1x, {{ include.retina | relative_url }} 2x"{% endif %}
    	{% if include.layout %} class="-{{ include.layout }}"{% endif %}
    	alt="{{ include.alt-text }}" 
    	width="{{ include.width }}" 
    	height="{{ include.height }}"
    >
    {% if include.caption %}<figcaption class="small">{{ include.caption }}</figcaption>{% endif %}
</figure>
