<div class="next-previous{% if include.nextUrl != nil and include.previousUrl == nil %} --end{% endif %}">
  {%- if include.previousUrl -%}
    <a class="next-previous--previous" href="{{ include.previousUrl | relative_url }}" title="{{ include.previousName }}" rel="prev">
      <svg viewBox="0 0 24 24">
        <use xlink:href="#svg-arrow-right"></use>
      </svg>
    </a>
  {%- endif -%}

  <div class="next-previous--feedback">
    <button aria-expanded="false" aria-controls="next-previous--feedback__modal">Feedback & questions?</button>
    <div id="next-previous--feedback__modal" class="next-previous--feedback__options" aria-hidden="true" hidden>
      <div class="next-previous--feedback__wrap">
        <a href="https://discord.com/channels/903125802726596648/903126089512153088">{% include slack.svg %} Ask a question</a>
        <a href="https://twitter.com/intent/tweet?url={{site.url}}{{page.url}}">{% include twitter.svg %} Share</a>
        <a href="https://github.com/BitcoinDesign/Guide/discussions">{% include github.svg %} Discuss</a>
        <a href="{{site.github_repository_url}}blob/master/{{page.path}}">{% include github.svg %} Edit page</a>
      </div>
    </div>
  </div>

  {%- if include.nextUrl -%}
    <a class="next-previous--next" href="{{ include.nextUrl | relative_url }}" rel="next">
      {{ include.nextName }}
      <svg viewBox="0 0 24 24">
        <use xlink:href="#svg-arrow-right"></use>
      </svg>
    </a>
  {%- endif -%}
</div>
