<figure{% if include.layout %} class="-{{ include.layout }}"{% endif %}>
	{% if include.modalImage %}
        <a
            href="{{ include.modalImage }}"
            class="modal-image-link"
            {% if include.modalImageMobile %}
                data-modal-image-mobile="{{ include.modalImageMobile }}"
            {% endif %}
        >
    {% endif %}
	<picture>
        {% if include.mobile %}
            <source
                media="(max-width: 639px)"
                {% if include.mobileRetina %}
                    srcset="{{ include.mobile | relative_url }} 1x, {{ include.mobileRetina | relative_url }} 2x"
                {% else %}
                    srcset="{{ include.mobile | relative_url }}"
                {% endif %}
            >
        {% endif %}
	    <img
	    	src="{{ include.image | relative_url }}"
	    	{% if include.retina %}
	    		srcset="{{ include.image | relative_url }} 1x, {{ include.retina | relative_url }} 2x"
	    	{% endif %}
	    	alt="{{ include.alt-text }}"
	    	width="{{ include.width }}"
	    	height="{{ include.height }}"
            {% if include.modalWidth && include.modalHeight %}
                data-modal-width="{{ include.modalWidth }}"
                data-modal-height="{{ include.modalHeight }}"
            {% endif %}
            {% if include.modalWidthMobile && include.modalHeightMobile %}
                data-modal-width-mobile="{{ include.modalWidthMobile }}"
                data-modal-height-mobile="{{ include.modalHeightMobile }}"
            {% endif %}
    		loading="lazy"
	    >
	</picture>
    {% if include.modalImage %}</a>{% endif %}
	{% if include.caption %}
        <figcaption markdown="1"{% if include.modalImage %} class="modal-indicator"{% endif %}>{{ include.caption | no_runts | markdownify }}{% if include.modalImage %}<svg viewBox="0 0 32 32" class="expand-icon"><use xlink:href="#svg-expand" x="4" y="4"></use></svg>{% endif %}</figcaption>
    {% elsif include.modalImage %}
        <figcaption class="modal-indicator">
            <p>Expand image</p>
            <svg viewBox="0 0 32 32" class="expand-icon"><use xlink:href="#svg-expand" x="4" y="4"></use></svg>
        </figcaption>
    {% endif %}
</figure>
