<nav class="social-media-list">
  <a
    rel="me"
    href="{{ site.discord_invite_url }}"
    title="Bitcoin Design Discord"
  >
    {% include discord.svg %}
  </a>
  <a
    rel="me"
    href="https://github.com/BitcoinDesign"
    title="Bitcoin Design on Github"
  >
    {% include github.svg %}
  </a>
  <a
    rel="me"
    href="{{ site.nostr_url }}"
    title="Bitcoin Design on Nostr"
  >
    {% include nostr.svg %}
  </a>
  <a
    rel="me"
    href="{{ site.twitter_url }}"
    title="Bitcoin Design on Twitter"
  >
    {% include twitter.svg %}
  </a>
  <a
    rel="me"
    href="{{ site.youtube_url }}"
    title="Bitcoin Design on YouTube"
  >
    {% include youtube.svg %}
  </a>
  <a
    rel="me"
    href="{{ site.bitcoin_tv_url }}"
    title="Bitcoin Design on BitcoinTV"
  >
    {% include bitcoin-tv.svg %}
  </a>
</nav>
