
article.guide {
  position: relative;

  > iframe {
    display: block;
  }

  @include media-query(medium-down) {
    padding-left: $spacing-unit / 2;
    padding-right: $spacing-unit / 2;
  }

  @include media-query(large) {
    padding-left: $spacing-unit;
    padding-right: $spacing-unit;
  }

  & > .center {
    @include clearfix;
  }

  & > .-full-width {
    @include media-query(medium-down) {
      margin-left: -$spacing-unit / 2;
      margin-right: -$spacing-unit / 2;
    }

    @include media-query(large) {
      margin-left: - $spacing-unit;
      margin-right: - $spacing-unit;
    }
  }

  & > iframe.-full-width {
    @include media-query(medium-down) {
      margin-left: 0;
      margin-right: 0;
    }

    @include media-query(large) {
      margin-left: 0;
      margin-right: 0;
    }
  }

  & > *:not(.-full-width) {
    @include media-query(medium-down) {

    }

    @include media-query(large) {
      max-width: 800px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  li {
      margin-left: 18px;
  }

  figure, iframe {

    margin-top: $spacing-unit;
    margin-bottom: $spacing-unit;

    @include media-query(medium-down) {
      margin-top: $spacing-unit * 0.5;
      margin-bottom: $spacing-unit * 0.5;
    }

    @include media-query(large) {
      margin-top: $spacing-unit * 1;
      margin-bottom: $spacing-unit * 1;
    }

  }

  & > .-float-left,
  & > .center .-float-left {
    @include media-query(large) {
      margin-top: 0;
      margin-bottom: 0;
      float: left;
      margin-right: 30px;
    }
  }

  & > .-float-right,
  & > .center .-float-right {
    @include media-query(large) {
      margin-top: 0;
      margin-bottom: 0;
      float: right;
      margin-left: 30px;
    }
  }
}
