article.guide {
  position: relative;

  > figure:first-child {
    margin-top: 0;
  }

  figure {
    &.-background {
      padding: $spacing-unit/3*2;
      background-color: #f8f8f8;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &.-shadow {
      img {
        filter: drop-shadow(0px 5px 15px rgba(#000000, 0.07));
        border-radius: 10px;
      }
    }
  }

  a.button {
    display: inline-block;
    padding: 0 $spacing-unit/3*2;
    border-radius: 3px;
    color: white;
    line-height: 43px;
    text-decoration: none;
    background-color: $primary-color;
    transition: all 150ms $ease;

    &:hover {
      background-color: darken($primary-color, 5);
    }

    &.-outline {
      background-color: transparent;
      color: $primary-color;
      border: 1px solid $primary-color;

      &:hover {
        color: darken($primary-color, 5);
        border-color: darken($primary-color, 5);
      }
    }
  }

  a.video-link,
  a.prototype-link {
    margin-top: $spacing-unit;
    display: block;
    position: relative;

    > svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 62px;
      height: 62px;
      transition: all $ease 250ms;
    }

    span {
      display: flex;
      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translate(-50%, 0);
      transition: all $ease 250ms;
      background-color: rgba(black, 0.2);
      border: 2px solid white;
      border-radius: 100px;
      color: white;
      font-size: 18px;
      padding: 5px 10px;
      box-shadow: 0 5px 15px -3px rgba(black, 0.25);

      > svg {
        width: $spacing-unit;
        height: $spacing-unit;
        margin-right: 3px;
      }
    }

    &.prototype-link {
      display: block;
    }
  }

  h2, h3, h4, h5, h6 {
    a.header-anchor {
      font-size: 0.65em;
      vertical-align: text-top;
      color: #CCCCCC;

      &:hover {
        text-decoration: none;
      }
    }

    @include media-query(large) {
      a.header-anchor {
        opacity: 0;
        transition: all 100ms $ease;

        &:hover {
          color: $primary-color;
        }
      }

      &:hover {
        a.header-anchor {
          opacity: 1;
        }
      }
    }
  }

  > iframe {
    display: block;
  }

  @include media-query(medium-down) {
    padding-left: $spacing-unit/2;
    padding-right: $spacing-unit/2;
  }

  @include media-query(large) {
    padding-left: $spacing-unit;
    padding-right: $spacing-unit;
  }

  & > .center {
    @include clearfix;

    @include media-query(medium-down) {
      > figure {
        &:not(:first-child),
        &.-float-left,
        &.-float-right,
        &.-float-left-mobile,
        &.-float-right-mobile {
          margin-top: $spacing-unit/5;
        }
      }
    }

    @include media-query(large) {
      > figure {
        margin-top: 0;
      }
    }
  }

  & > .-float-left,
  & > .center .-float-left {
    float: left;
    margin-right: $spacing-unit/2;
    max-width: 50%;
  }

  & > .-float-right,
  & > .center .-float-right {
    float: right;
    margin-left: $spacing-unit/2;
    max-width: 50%;
  }

  @include media-query(medium-up) {
    & > .-float-left-desktop,
    & > .center .-float-left-desktop {
      float: left;
      margin-right: $spacing-unit/2;
      max-width: 50%;
    }

    & > .-float-right-desktop,
    & > .center .-float-right-desktop {
      float: right;
      margin-left: $spacing-unit/2;
      max-width: 50%;
    }
  }

  & > .-float-right,
  & > .center .-float-right {
    @include media-query(large) {
      margin-top: 0;
      margin-bottom: 0;
      float: right;
      margin-left: $spacing-unit;
    }
  }

  // Full width images stretch all the way, up to 1600px width.

  & > .-full-width {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include media-query(medium-down) {
      margin-left: -$spacing-unit/2;
      margin-right: -$spacing-unit/2;
    }

    @include media-query(large) {
      margin-left: - $spacing-unit;
      margin-right: - $spacing-unit;
    }
  }

  figure.-full-width {
    figcaption {
      margin-left: $spacing-unit/2;
      margin-right: $spacing-unit/2;
    }
  }

  // Width images can stretch beyond the regular content, but maintain padding left and right.

  & > .-wide {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  & > iframe.-full-width {
    @include media-query(medium-down) {
      margin-left: 0;
      margin-right: 0;
    }

    @include media-query(large) {
      margin-left: 0;
      margin-right: 0;
    }
  }

  & > *:not(.-full-width, .-wide) {
    @include media-query(medium-down) {

    }

    @include media-query(large) {
      max-width: 800px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  // Other

  li {
      margin-left: 18px;
  }

  .figma-embed {
    overflow: hidden;
    position: relative;

    iframe {
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      box-sizing: border-box;
      transform-origin: left top;
      border: 0px solid rgba(black, 0.5);
    }
  }

  figure:not(.-float-left, .-float-right, :first-child),
  iframe {
    @include media-query(medium-down) {
      margin-top: $spacing-unit;
      margin-bottom: $spacing-unit;
    }

    @include media-query(large) {
      margin-top: $spacing-unit;
      margin-bottom: $spacing-unit;
    }
  }
}
