//
// Minimal home page 
//

.home-minimal-page {
    position: relative;
    display: flex;

    &:before {
        position: absolute;
        display: block;
        content: '';
        background-color: $primary-color;
        top: 0;
        left: 0;
    }

    section {
        display: flex;
        align-items: center;
        position: relative;

        &:first-child {
            h1 {
                position: relative;
                margin: 0;
                @include responsive('font-size', 36, 48);
                @include responsive('letter-spacing', -1, -1);
                color: white;
                width: 100%;

                &:before {
                    display: block;
                    content: '';
                    @include responsive('width', 75, 100);
                    @include responsive('height', 75, 100);
                    @include responsive('margin-bottom', 10, 20);
                    border-radius: 50px;
                    background-color: white;
                }
            }
        }

        &:last-child {
            .copy {
                p {
                    margin: 0;
                    @include responsive('font-size', 22, 27);
                    line-height: 1.4;
                    font-weight: 300;

                    a {
                        display: inline-block;
                        position: relative;

                        &:before {
                            position: absolute;
                            display: block;
                            content: '';
                            left: 0;
                            right: 0;
                            bottom: 3px;
                            height: 1px;
                            opacity: 0;
                            transition: opacity 150ms $ease;
                        }

                        &:hover {
                            text-decoration: none;

                            &:before {
                                opacity: 1;
                            }
                        }
                    }
                }

                &:first-child {
                    p {
                        color: white;

                        a {
                            color: black;

                            &:before {
                                background-color: black;
                            }
                        }
                    }
                }

                &:last-child {
                    p {
                        color: #202020;

                        a {
                            color: $primary-color;

                            &:before {
                                background-color: $primary-color;
                            }
                        }
                    }
                }
            }
        }
    }

    @include media-query(medium-down) {
        height: 100vh;
        flex-direction: column;

        &:before {
            width: 100vw;
            height: 60vh;
        }

        section {
            flex-direction: column;
            justify-content: center;
            @include responsive('padding-left', 30, 60);
            @include responsive('padding-right', 30, 60);
            max-width: 570px;

            &:first-child {
                .title {
                    height: 30vh;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;

                    h1 {

                    }
                }

                .placeholder {
                    display: none;
                }
            }

            &:last-child {
                .copy {
                    display: flex;

                    &:first-child {
                        height: 30vh;
                    }

                    &:last-child {
                        height: 40vh;
                        flex-direction: column;
                        justify-content: center;
                    }
                }
            }
        }
    }

    @include media-query(large) {
        flex-direction: column;
        justify-content: center;
        height: 100vh;

        &:before {
            width: 50vw;
            height: 100vh;
        }

        section {
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            h1 {

            }

            .title,
            .placeholder,
            .copy {
                flex-basis: calc(50vw - 60px);
                max-width: 570px;
            }
        }
    }

    @include media-query(small) {
        
    }
}