

//
// Main nav, breadcrumb, etc...
//
// stylelint-disable selector-no-type, max-nesting-depth, selector-max-compound-selectors, selector-max-type, selector-max-specificity

.nav-list {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  list-style: none;

  .nav-list-item {
    position: relative;
    margin: 0;

    .nav-list-link {
      display: block;
      font-size: 15px;
      line-height: 34px;
      margin-left: 34px;

      &.-active {
        font-weight: 500;
        color: $primary-color;
        text-decoration: none;
      }

      &:hover,
      &.-active {
        text-decoration: none;
      }
    }

    .nav-list-expander {
      position: absolute;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 34px;
      height: 34px;

      svg {
        width: 15px;
        height: 15px;
        color: $link-base-color;
        transition: all 150ms $ease;
      }

      &:hover {
        background-color: rgba($primary-color, 0.1);

        svg {
          color: $primary-color;
        }
      }

      & + .nav-list-link {
        
      }
    }

    > .nav-list {
      display: none;
      list-style: none;
      padding-left: 15px;

      .nav-list-item {
        position: relative;

        .nav-list-link {
          // color: $primary-color;
        }

        .nav-list-expander {
          // color: $primary-color;
        }
      }
    }

    &.-active {
      > .nav-list-link {
          // color: $primary-color;
      }

      > .nav-list-expander svg {
          transform: rotate(90deg);
          color: $primary-color;
      }

      > .nav-list {
        display: block;
      }
    }
  }
}
