//
// Search 
//

.search-page {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  @include responsive('padding-top', 30, 60);
  @include responsive('padding-bottom', 30, 60);

  form {
    input {
        display: block;
        width: 100%;
        height: 60px;
        border: 1px solid rgba(var(--front), 0.2);
        font-size: 27px;
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: border-box;

        &:active,
        &:focus {
            border-color: $primary-color;
            outline: none;
        }
    }
  }

  > ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0 0 0;

    li {
        h3 {
            margin-top: 0;
            margin-bottom: 0;
            font-size: 18px;
            line-height: 1.2;
            color: var(--frontHex);
            transition: color 100ms $ease;
        }

        a {
            display: block;
            padding: 15px 0;
            transition: background-color 100ms $ease;

            p {
                margin-top: 5px;
                margin-bottom: 0;
                font-size: 16px;
                line-height: 1.4;
                color: rgba(var(--front), 0.7);
            }

            &:hover {
                text-decoration: none;
                background-color: rgba($primary-color, 0.05);

                h3 {
                    color: $primary-color;
                }
            }
        }

        > h3 {
            padding: 15px 0;
        }

        & + li {
            border-top: 1px solid #ededed;
        }
    }
  }
}