

//
// Main nav, breadcrumb, etc...
//
// stylelint-disable selector-no-type, max-nesting-depth, selector-max-compound-selectors, selector-max-type, selector-max-specificity

.nav-list {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  list-style: none;

  .nav-list-item {

    position: relative;
    margin: 0;


    .nav-list-link {
      display: block;
      min-height: #{$spacing-unit / 5};
      padding-top: #{$spacing-unit / 5};
      padding-bottom: #{$spacing-unit / 5};


      &.active {
        font-weight: 600;
        text-decoration: none;
      }

      &:hover,
      &.active {
        text-decoration: none;
      }
    }

    .nav-list-expander {
      position: absolute;
      right: 0;
      padding-top: #{$spacing-unit / 4};
      padding-right: #{$spacing-unit / 2};
      padding-bottom: #{$spacing-unit / 4};
      padding-left: #{$spacing-unit / 2};
      color: $link-base-color;
      width: #{$spacing-unit / 2};
      height: #{$spacing-unit / 2};

      @include media-query($on-laptop) {
        padding-top: #{$spacing-unit / 4};
        padding-right: #{$spacing-unit / 4};
        padding-bottom: #{$spacing-unit / 4};
        padding-left: #{$spacing-unit / 4};
      }

      &:hover {
        background-color: rgba($brand-color, 0.1);
      }
    }

    > .nav-list {
      display: none;
      padding-left: #{$spacing-unit / 2};
      list-style: none;

      .nav-list-item {
        position: relative;

        .nav-list-link {
          color: $brand-color;
        }

        .nav-list-expander {
          color: $brand-color;
        }
      }
    }

    &.active {
      > .nav-list-expander svg {
          transform: rotate(90deg);
      }

      > .nav-list {
        display: block;
      }
    }
  }
}
