
/**
 * Site footer
 */
.site-footer {
  padding: 20px;

  .wrapper {
    display: flex;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    padding: 20px;

    a.-logo {
      display: block;
      line-height: 1;

      svg {
        width: 40px;
        height: 40px;
        overflow: visible;
        stroke: black;
        stroke-width: 1.5px;
        transition: all 100ms $ease;
      }

      &:hover {
        svg {
          stroke: $primary-color;
        }
      }
    }

    .edit-license {
      a {
        display: block;
        color: black;
        font-size: 16px;

        &:hover {
          color: $primary-color;
        }
      }
    }

    nav.social-media-list {
      display: flex;
      align-items: center;

      a {
        display: flex;
        line-height: 1;

        svg {
          width: 30px;
          height: 30px;
          transition: all 150ms $ease;
        }

        &:hover {
          svg {
            fill: $primary-color !important;
          }
        }

        & + a {
          margin-left: 20px;
        }
      }
    }

    nav.footer-nav {
      display: flex;

      a {
        display: inline-block;
        color: black;
        font-size: 16px;

        &:hover {
          color: $primary-color;
        }
      }

      &:empty {
        display: none;
      }
    }
  }

  @include media-query(small) {
    .wrapper {
      flex-wrap: wrap;
      justify-content: space-between;

      a.-logo {
        order: 1;
      }

      .edit-license {
        border-top: 1px solid black;
        order: 3;
        flex-basis: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        padding-top: 20px;

        a.-edit {

        }

        a.-license {

        }
      }

      nav.social-media-list {
        order: 2;
        margin-left: auto;
      }

      nav.footer-nav {
        flex-direction: column;
        order: 5;
        flex-basis: 100%;
        border-top: 1px solid black;
        margin-top: 20px;
        padding-top: 20px;
      }
    }
  }

  @include media-query(medium-up) {
    .wrapper {
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;

      a.-logo {
        margin-right: auto;
      }
      
      .edit-license {
        display: flex;
        border-right: 1px solid black;
        padding-right: 20px;
        margin-right: 20px;

        a {
          & + a {
            margin-left: 20px;
          }
        }
      }

      nav.footer-nav {
        flex-basis: 100%;
        border-top: 1px solid black;
        margin-top: 20px;
        padding-top: 20px;

        a {
          & + a {
            margin-left: 20px;
          }
        }
      }
    }
  }
}

body.sidebar {
  .site-footer {
    padding-top: 30px;
    border-top: 1px solid rgba(var(--front), 0.05);
  }
}