
/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid darken($background-color, 6%);
  padding: $spacing-unit 0;
  background-color: darken($background-color, 3%);
  position: relative;
  z-index: 1;
  
  .page-link {
    margin-left: auto;
    
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  .footer-heading {
    @include relative-font-size(1.125);
    margin-bottom: $spacing-unit / 2;
  }

  .feed-subscribe {
    .svg-icon {
      padding: 5px 5px 2px 0;
    }
  }

  .contact-list,
  .social-media-list {
    list-style: none;
    margin-left: 0;
  }

  .footer-col-wrapper,
  .social-links {
    @include relative-font-size(0.9375);
    color: $brand-color;
  }

  .footer-col {
    margin-bottom: $spacing-unit / 2;
  }

  @include media-query(medium-up) {
    .footer-col-wrapper {
      display: flex
    }

    .footer-col {
      width: calc(100% - (#{$spacing-unit} / 2));
      padding: 0 ($spacing-unit / 2);

      &:first-child {
        padding-right: $spacing-unit / 2;
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
        padding-left: $spacing-unit / 2;
      }
    }
  }
}