@charset "utf-8";

// Import pre-styling-overrides hook and style-partials.
@import
  "minima/mixins",
  "minima/base",             // Defines element resets.
  "minima/layout",           // Defines structure and style based on CSS selectors.
  "minima/inter",            // Font
  "minima/site-header",      // The global site header, mobile menu, and search box
  "minima/site-footer",      // The global site footer
  "minima/side-bar",         // Side bar for guide pages
  "minima/nav-list",         // Navigation list for guide page side bar and mobile menu guide sub nav
  "minima/article",          // Formatting for all article pages (guide, post, page)
  "minima/search-page",       // Formatting for the search page
  "minima/home-banner"
;
