<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">

      <div class="page-content-wrapper">

        {%- if page.path contains 'guide' -%}
        <div class="side-bar">
          <nav role="navigation" aria-label="Main" id="secondary-nav" class="secondary-nav">
              {% include secondary-nav.html %}
          </nav>
        </div>
        {%- endif -%}

        <div class="main {% if page.path contains 'guide' %} sidebar{% endif %}" id="top">

          {{ content }}

        <div class="edit-link">
          <a target="_blank" href="{{site.github.repository_url}}/blob/gh-pages/{{page.path}}">Edit this page</a>
        </div>

        </div>

      </div>


    </main>

    {%- include footer.html -%}

  </body>

</html>
