<!DOCTYPE html>
<!--
 _     _ _            _             _           _             
| |__ (_) |_ ___ ___ (_)_ __     __| | ___  ___(_) __ _ _ __  
| '_ \| | __/ __/ _ \| | '_ \   / _` |/ _ \/ __| |/ _` | '_ \ 
| |_) | | || (_| (_) | | | | | | (_| |  __/\__ \ | (_| | | | |
|_.__/|_|\__\___\___/|_|_| |_|  \__,_|\___||___/_|\__, |_| |_|
                                                  |___/                                     
-->

<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    <main class="home-minimal-page">
      <section>
        <div class="title">
          <h1>Bitcoin Design</h1>
        </div>
        <div class="placeholder"></div>
      </section>
      <section>
        <div class="copy">
          <p>An open community collaborating on making <a href="https://bitcoin.org">Bitcoin</a> more user-friendly through thoughtful user experience design.</p>
        </div>
        <div class="copy">
          <p>Join us on <a href="https://bitcoindesign.slack.com">Slack</a>, or see what we are working on on <a href="https://github.com/bitcoindesign">Github</a>. This is a temporary landing page. Stay tuned for updates.</p>
        </div>
      </section>
    </main>
  </body>

</html>
