<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    <main class="home-minimal-page">
      <section>
        <div class="title">
          <h1>Bitcoin Design</h1>
        </div>
        <div class="placeholder"></div>
      </section>
      <section>
        <div class="copy">
          <p>We are an open community with the goal of helping improve the design of <a href="https://bitcoin.org">bitcoin</a> and its ecosystem.</p>
        </div>
        <div class="copy">
          <p>Join us on <a href="https://bitcoindesign.slack.com">Slack</a>, or see what we are working on on <a href="https://github.com/bitcoindesign">Github</a>. This is a temporary landing page. Stay tuned for updates.</p>
        </div>
      </section>
    </main>
  </body>

</html>
