.article {
  .footnotes {
    padding: 30px;
    font-size: 0.8rem;
    margin: 60px 0 0;
    border: 1px solid rgba(var(--front), 0.05);
    box-sizing: border-box;
    background: #FDFDFD;
    &::before {
      content: "REFERENCES";
      display: block;
      margin-bottom: 10px;
      color: var(--frontHex);
      letter-spacing: 1px;
    }
    ol {
      margin: 0;
      list-style-position: inside;
      li {
        margin-left: 0;
        p {
          display: inline;
        }
      }
    }
  }
}
